# thalita-abreu-
github 
:root {
    --cor-de-fundo: #000000;
    --verde: #6FFF57;
    --verde: #EBCE19;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
